---
import SectionWrapper from '../layouts/SectionWrapper.astro';

export interface BannerProps {
  headerText: string;
  bodyText: string;
  backgroundImage: string[];
  backgroundPosition: string[];
  extraPadding?: boolean;
}
const {
  headerText,
  bodyText,
  backgroundImage,
  backgroundPosition,
  extraPadding,
} = Astro.props as BannerProps;
---

<SectionWrapper
  id="about-banner"
  class:list={['banner-container', { 'extra-padding': extraPadding }]}
  style={`--background-image: url('${backgroundImage[0]}'), url('${backgroundImage[1]}'); --background-position: ${backgroundPosition[0]}, ${backgroundPosition[1]}; --background-image-mobile: url('${backgroundImage[0]}');`}
>
  <h1 class="header-text">{headerText}</h1>
  <p class="body-text">{bodyText}</p>
</SectionWrapper>

<style>
  /* Banner Section */
  .banner-container {
    display: flex;
    flex-direction: column;
    height: 30rem;
    background-image: var(--background-image);
    background-position: var(--background-position);
    background-repeat: no-repeat;
    text-align: center;
  }

  .body-text {
    font-size: 1.5rem;
  }

  .header-text {
    color: #775854;
  }

  .extra-padding h1,
  .extra-padding p {
    padding: 0 8rem; /* Adjust as needed */
  }

  @media screen and (max-width: 768px) {
    .banner-container {
      height: auto;
      display: flex;
    }

    .banner-container {
      background-image: var(--background-image-mobile);
      background-size: 70%;
    }

    .banner-container h1 {
      margin-top: 20%;
    }
    .banner-container h1,
    p {
      text-align: center;
    }

    .banner-container p {
      font-size: 1rem;
      padding: 0 2rem;
    }
  }
</style>
