---
import ContactButton from './ContactButton.astro';
const mainLinks = [
  { href: '/about/', label: 'About us', text: 'About' },
  { href: '/services/', label: 'Our services', text: 'Services' },
  { href: '/projects/', label: 'Our projects', text: 'Projects' },
  { href: '/contact/', label: 'Contact us', text: 'Contact us' },
  { href: '/licensees/', label: 'Licensees information', text: 'Licensees' },
  { href: '/terms/', label: 'Terms of Services', text: 'Terms of Services' },
  { href: '/privacy/', label: 'Privacy policy', text: 'Privacy policy' },
];

const socialLinks = [
  {
    href: 'https://www.facebook.com/',
    label: 'Visit our Facebook page',
    text: 'Facebook',
    target: '_blank',
  },
  {
    href: 'https://www.instagram.com/',
    label: 'Visit our Instagram profile',
    text: 'Instagram',
    target: '_blank',
  },
];
---

<footer>
  <div class="work-with-us">
    <h2>Work with us</h2>
    <p
      >We would love to hear about your project!<br />Get in touch and we will
      get back to you shortly.</p
    >
    <ContactButton />
    <hr />
  </div>
  <div class="footer-bottom-container">
    <div class="footer-nav-left">
      <h4>Pages</h4>
      <nav>
        {
          mainLinks.map((link) => (
            <a
              href={link.href}
              aria-label={link.label}
            >
              {link.text}
            </a>
          ))
        }
      </nav>
      <div class="social-links">
        {
          socialLinks.map((link) => (
            <a
              href={link.href}
              aria-label={link.label}
              target={link.target}
            >
              {link.text}
            </a>
          ))
        }
      </div>
    </div>
    <div class="footer-contact-right">
      <h4>Contact</h4>
      <p>+61 422 023 586</p>
      <p>Sunshine Coast, QLD, Australia</p>
      <p
        ><a href="mailto:hello@dawnercreative.com">hello@dawnercreative.com</a
        ></p
      >
    </div>
  </div>
</footer>

<style>
  .footer-bottom-container {
    display: flex;
    justify-content: space-between;
    padding-right: 8rem;
  }

  footer {
    background-color: black;
    color: white;
    padding: 5rem 8rem;
  }

  footer h2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
  }

  .work-with-us hr {
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  .footer-nav-left nav {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 1rem;
  }

  .footer-contact-right p,
  .footer-contact-right a {
    font-size: 1.25rem;
    color: rgba(189, 189, 189, 1);
  }
</style>
